/*GLOBAL*/
/* Global Styles */
/* line 4, sass/scss/base/_base.scss */
body {
  margin-top: 100px;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
  /* line 11, sass/scss/base/_base.scss */
  body {
    margin-top: 50px;
  }
}
/* line 18, sass/scss/base/_base.scss */
#wrapper {
  padding-left: 0;
}

/* line 22, sass/scss/base/_base.scss */
#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: white;
}

/* line 28, sass/scss/base/_base.scss */
.huge {
  font-size: 50px;
  line-height: normal;
}

@media (min-width: 768px) {
  /* line 34, sass/scss/base/_base.scss */
  #wrapper {
    padding-left: 225px;
  }

  /* line 38, sass/scss/base/_base.scss */
  #page-wrapper {
    padding: 10px;
  }
}
/* Top Navigation */
/* line 45, sass/scss/base/_base.scss */
.top-nav {
  padding: 0 15px;
}

/* line 49, sass/scss/base/_base.scss */
.top-nav > li {
  display: inline-block;
  float: left;
}

/* line 54, sass/scss/base/_base.scss */
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

/* line 65, sass/scss/base/_base.scss */
.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: white;
  background-color: #000;
}

/* line 70, sass/scss/base/_base.scss */
.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 82, sass/scss/base/_base.scss */
.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* line 86, sass/scss/base/_base.scss */
ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 93, sass/scss/base/_base.scss */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 98, sass/scss/base/_base.scss */
li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 103, sass/scss/base/_base.scss */
li.message-footer {
  margin: 5px 0;
}

/* line 107, sass/scss/base/_base.scss */
ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
/*@media(min-width:768px) {
    .side-nav {
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color:$primary-color;
    }

    .side-nav>li>a {
        width: 225px;
    }
*/
    /*.side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}*/
/*.side-nav>li>ul>li>a:hover {
    color: $secondary-color;
}
*/
/* Flot Chart Containers */
@media (min-width: 768px) {
  /* line 140, sass/scss/base/_base.scss */
  .flot-chart {
    display: block;
    height: 400px;
  }

  /* line 145, sass/scss/base/_base.scss */
  .flot-chart-content {
    width: 100%;
    height: 100%;
  }

  /* Custom Colored Panels */
  /* line 152, sass/scss/base/_base.scss */
  .huge {
    font-size: 40px;
  }

  /* line 156, sass/scss/base/_base.scss */
  .panel-green {
    border-color: #5cb85c;
  }

  /* line 160, sass/scss/base/_base.scss */
  .panel-green .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
  }

  /* line 166, sass/scss/base/_base.scss */
  .panel-green a {
    color: #5cb85c;
  }

  /* line 170, sass/scss/base/_base.scss */
  .panel-green a:hover {
    color: #3d8b3d;
  }

  /* line 174, sass/scss/base/_base.scss */
  .panel-red {
    border-color: #d9534f;
  }

  /* line 178, sass/scss/base/_base.scss */
  .panel-red .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
  }

  /* line 184, sass/scss/base/_base.scss */
  .panel-red a {
    color: #d9534f;
  }

  /* line 188, sass/scss/base/_base.scss */
  .panel-red a:hover {
    color: #b52b27;
  }

  /* line 192, sass/scss/base/_base.scss */
  .panel-yellow {
    border-color: #f0ad4e;
  }

  /* line 196, sass/scss/base/_base.scss */
  .panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
  }

  /* line 202, sass/scss/base/_base.scss */
  .panel-yellow a {
    color: #f0ad4e;
  }

  /* line 206, sass/scss/base/_base.scss */
  .panel-yellow a:hover {
    color: #df8a13;
  }

  /* line 210, sass/scss/base/_base.scss */
  #sitegeneral {
    color: #485ed7;
  }

  /*additional hover
  */
  /* line 233, sass/scss/base/_base.scss */
  .side-nav {
    position: static;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* line 241, sass/scss/base/_base.scss */
  .side-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
  }

  /* line 251, sass/scss/base/_base.scss */
  .side-nav li:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #222222;
    /*-webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;*/
  }

  /*.side-nav li:hover:before, .side-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  }*/
  /* line 272, sass/scss/base/_base.scss */
  .side-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
  }

  /* line 278, sass/scss/base/_base.scss */
  .side-nav li a:hover, .side-nav li a:active, .side-nav li a:focus, .side-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: black;
    text-decoration: none;
    background-color: #ddd;
  }

  /* line 284, sass/scss/base/_base.scss */
  .side-nav > li > ul {
    padding: 0;
  }

  /* line 288, sass/scss/base/_base.scss */
  .side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
  }

  /* line 293, sass/scss/base/_base.scss */
  .navbar-brand-centered {
    position: fixed;
    left: 45%;
    display: block;
    width: auto;
    text-align: center;
  }

  /* line 302, sass/scss/base/_base.scss */
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -50px;
  }

  /* line 306, sass/scss/base/_base.scss */
  #sidebar-wrapper.active {
    left: 250px;
    width: 200px;
  }
}
@media (min-width: 768px) and (min-width: 300px) {
  /* line 217, sass/scss/base/_base.scss */
  #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 150px;
    height: auto;
    margin-left: -250px;
    overflow-y: auto;
    background: #222222;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
}
/* BUTTONS */
/* line 2, sass/scss/modules/_buttons.scss */
.list_menu {
  list-style: none;
  padding-top: 5px;
  width: 305px;
  height: auto;
  z-index: 1000;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

/* line 14, sass/scss/modules/_buttons.scss */
.button {
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-right: 0px;
  z-index: 1000;
  border-radius: 5px;
  font-size: 25px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 30, sass/scss/modules/_buttons.scss */
.sbutton {
  border-radius: 2;
  color: #222222;
  background-color: transparent;
}

/* line 38, sass/scss/modules/_buttons.scss */
#menu-toggle, #submit {
  /*padding: 15px 15px;*/
  font-size: 25px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 47, sass/scss/modules/_buttons.scss */
#submit {
  color: white;
  background-color: #222222;
  font-size: 15px;
  line-height: normal;
}

/* line 54, sass/scss/modules/_buttons.scss */
.btn-dark {
  border-radius: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 60, sass/scss/modules/_buttons.scss */
#rainSelect {
  color: #222222;
  font-size: 13px;
  line-height: normal;
}

/*spinner effect*/
/* line 2, sass/scss/modules/_components.scss */
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

/* line 9, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 17, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

/* line 28, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 33, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* line 38, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 43, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

/* line 48, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

/* line 53, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 58, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

/* line 63, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

/* line 68, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 73, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* line 78, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

/* line 83, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 87, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* line 91, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 95, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 99, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

/* line 103, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

/* line 107, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* line 111, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

/* line 115, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

/* line 119, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

/* line 123, sass/scss/modules/_components.scss */
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  /* line 129, sass/scss/modules/_components.scss */
  0%, 39%, 100% {
    opacity: 0;
  }

  /* line 130, sass/scss/modules/_components.scss */
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  /* line 134, sass/scss/modules/_components.scss */
  0%, 39%, 100% {
    opacity: 0;
  }

  /* line 135, sass/scss/modules/_components.scss */
  40% {
    opacity: 1;
  }
}

/* TRANSITIONS  of the side bar*/
/* line 140, sass/scss/modules/_components.scss */
.slide_right_open, .slide_right_close {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* SLIDE RIGHT MENU */
/* line 148, sass/scss/modules/_components.scss */
.slide_right_close {
  position: fixed;
  right: -305px;
  padding-right: 0px;
  z-index: 1000;
}

/* line 155, sass/scss/modules/_components.scss */
.slide_right_open {
  right: 0px;
}

/* line 159, sass/scss/modules/_components.scss */
#slide_right > ul {
  float: right;
  background-color: #222222;
  color: #C0C0C0;
  margin: auto;
}

/* line 166, sass/scss/modules/_components.scss */
#slide_right > ul > h2 {
  border-bottom: solid 1px #787878;
}

/* line 170, sass/scss/modules/_components.scss */
#slide_right ul li {
  background-color: white;
}

/* line 174, sass/scss/modules/_components.scss */
#slide_right ul li:hover {
  background-color: transparent;
  color: #222222;
}

/* line 179, sass/scss/modules/_components.scss */
label {
  font-weight: 25px;
  font-size: 105%;
}

/* line 184, sass/scss/modules/_components.scss */
.wrapper {
  position: relative;
}

/* line 189, sass/scss/modules/_components.scss */
.tooltip-wide .tooltip {
  min-width: 200px;
}

/* line 1, sass/scss/modules/_publicrelease.scss */
.alert_00 {
  background-color: #FFD9D9;
  color: black;
}

/* line 5, sass/scss/modules/_publicrelease.scss */
.alert_01 {
  background-color: #ffedcc;
  color: black;
}

/* line 9, sass/scss/modules/_publicrelease.scss */
.alert_02 {
  background-color: #ffffb3;
  color: black;
}

/* line 13, sass/scss/modules/_publicrelease.scss */
.alert_03 {
  background-color: #b3ffb3;
  color: black;
}

/* line 17, sass/scss/modules/_publicrelease.scss */
.alert_nd {
  background-color: #e0ffb3;
  color: black;
}
