	RewriteEngine on
	RewriteCond $1 !^(index\.php|alphaF|betaF|goldF|v3alphaF|mantis|bugtracker|diceroll|images|temp|css|fonts|js|ajax|d3graph|phpmyadmin|robots\.txt)
	RewriteRule ^(.*)$ /index.php/$1 [L]

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "http://dewslandslide.com"
</IfModule>