.alert_00 {
    background-color: #FFD9D9;
    color: black;
}
.alert_01{
    background-color: #ffedcc;
    color: black;
}
.alert_02{
    background-color: #ffffb3;
    color: black;
}
.alert_03{
    background-color: #b3ffb3;
    color: black;
}
.alert_nd {
    background-color: #e0ffb3;
    color: black;
}

