/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    
    /*Location of the image*/
    background-image: url(../../images/site-bg-default-768p.jpg);
    /*background-image: url(../../images/site-bg-default-768p-2.jpg);*/

    /*Center horizontally and vertically the background image*/
    background-position: center center;

    /*Don't tile Background image*/
    background-repeat: no-repeat;

    /* Make background image rescale based on the container's size */
    background-size: cover;

    /* Set a background color while the page is loading */
    /*background-color: #F8991D;*/ 
    background-color: #eeeeee;

    /* Native Font Style */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html i, html em,
html b, html strong,
html span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}

.background-image {
  background: url('../img/bg/diagonalnoise.png') repeat;
}

.background-image:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(248, 247, 216, 0.7);
  }

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 30px; /* originally 50 */
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 25%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}


.form-signin #username,
.form-signin #password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=username],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

/*
 * Button styles
 */
.btn.btn-signin {
    background-color: #17526D; 
    /*background-color: rgb(104, 145, 162);*/
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    overflow: hidden;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 25px;
    border: none;    
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;    
    transition: all 0.218s;
}

.btn.btn-signin:before {
  content: '';
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f09e00;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    color: #17526D;
}

.btn.btn-signin:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/*
 * Plain Navbar
 */
.plain {
    border-radius: 0px;
    border-style: none;
}

.navbar-brand img {
    width: 49px;
    height: 34px;
    margin-top: -6px;
}

.navbar.navbar-inverse.navbar-fixed-top .container {
    /*margin-left: 40px;*/
}

/*
 * Main Content
 */

.main-content-div {
    margin-top: 40px;
    padding: 40px 40px;
}

.big-title {
    color: #256070;
    font-size: 80px;
    font-weight: 800;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big-title.inverse {
    color: #f09e00;
    line-height: 60%;
}

.description {
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.bg-cover {
    /*background-color: rgba(255, 255, 255, 0.40);*/
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    html, body {
        background-image: url(../../images/site-bg-original.jpg);
    }
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-signin {
        width: 100%;
        margin-bottom: 35px;
    }
    .navbar.navbar-inverse.navbar-fixed-top .container {
        margin-left: 0px;
    }
    .main-content-div {
        margin-top: 70px;
        padding: 0px 0px;
    }
    .big-title {
        font-size: 60px;
        font-weight: 500;
    }
    .description {
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-signin {
        width: 100%;
        margin-bottom: 35px;
    }
    .navbar.navbar-inverse.navbar-fixed-top .container {
        margin-left: 0px;
    }
    .main-content-div {
        margin-top: 70px;
        padding: 0px 0px;
    }
    .big-title {
        font-size: 40px;
        font-weight: 700;
    }
    .description {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    html, body {
        background-image: url(../../images/site-bg-default-768p-2.jpg);
    }
    .logo {
        font-size: 150px;
    }
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-signin {
        width: 100%;
        margin-bottom: 35px;
    }
    .navbar.navbar-inverse.navbar-fixed-top .container {
        margin-left: 0px;
    }
    .main-content-div {
        margin-top: 70px;
        padding: 0px 0px;
    }
    .big-title {
        font-size: 30px;
        font-weight: 700;
    }
    .description {
        display: none;
    }
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0px;
        margin-top: 30px; /* originally 50 */
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .form-signin #username,
    .form-signin #password {
        direction: ltr;
        height: 34px;
        font-size: 15px;
    }
    img.profile-img-card {
        width: 60px;
        height: 60px;
        margin: 0 auto 5px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;        
    }
    *.card.card-container {
        font-size: 15px;
    }
}