
/****
 *
 *	Created by Kevin Dhale dela Cruz
 *	CSS file for Individual Monitoring Event Page [public_alert/monitoring_events_individual.php]
 *	[host]/public_alert/monitoring_events/[release_id]
 *	
****/

#map-canvas { 
	width: 375px !important;
	min-width: 0% !important;
	max-width: 30% !important;
    height: 450px !important;
    background-color: blue;
    position: fixed;
    top: 248px;
    margin: 0 0 0 10px;
}

#map { height: 100%; }

#reveal {
	font-size: 20px;
	font-weight: 600;
	position: fixed;
	top: 80px;
	left: 100vh - 100px; //65px;
	z-index: 0;
}

#bread {
    font-weight: 600;
    position: fixed;
    top: 200px;
    left: 100vh - 100px; //80px;
    z-index: 0;
}

#header { background-color: white; z-index: 1; }

hr { margin: 10px 0 10px; }

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 5%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li > .timeline-panel {
        width: 91%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

        .timeline > li > .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline > li > .timeline-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 5%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

        .timeline > li.timeline-inverted > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline > li.timeline-inverted > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.timeline-body li { font-weight: 600; }

.number { padding-right: 0; }

.area_label { top: 12px; }

.line { margin-top: -5px; margin-bottom: 5px; }

.triggers {
    font-size: 14px;
    color: red;
    text-shadow: 0.5px 0.4px grey;
}

#h3_area { margin-left: 70px; }

#h3_area h3 {
    margin: 24px 0px 22px 0px; 
    background-color: rgba(128, 128, 128, 0.49);
}

/*** BULLETIN ***/

.text-area {
    margin: 0.5in;
}

.center-text {
    text-align: center;
}

#phivolcs, #dost{
    width: 66px; //165px*0.50
    height: 77.6px; //194px*0.50
}

#header-text div {
    margin: 0;
}

#header-text > div:nth-child(1) {
    font-size: 10px;
    font-weight: bold;
    color: blue;
}

#header-text > div:nth-child(2) {
    font-size: 12px;
    font-weight: bold;
    color: red !important;
}

#header-text > div:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: #000080 !important;
}

#header-text > div:nth-child(4), #header-text > :nth-child(5), #header-text > :nth-child(6), #header-text > :nth-child(7) {
    font-size: 8px;
    color: blue !important;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bulletinModal h2 {
    font-size: 20px;
}

/*.panel-default {
    border-color: black;
}*/

#bulletin, #areaSituation, #footer {
    font-size: 16px;
}

#bulletin .row {
    margin: 8px 0;
}

#areaSituation .row {
    margin: 15px 0;
}

#bulletin .col-sm-8 {
    padding-left: 0;
    font-weight: bold;
}

#areaSituation h3 {
    font-size: 18px;
    margin-top: 0;
}

#areaSituation p {
    text-indent: 60px;
}

.rowIndent {
    padding-left: 60px;
}

#footer {
    margin-top: 15px;
}

#info {
    font-size: 18px;
    font-weight: bold;
}

#bulletinModal .modal-body { padding-bottom: 0; }
#resultModal .modal-body { font-size: 14px; }