
body {
  padding-top: 0;
  font-size: 12px;
  color: #777;
  background: #f9f9f9;
  font-family: 'Open Sans',sans-serif;
  margin-top:20px;
}

.bg-white {
  background-color: #fff;
}

#search-contacts {
  position: fixed;
  list-style: none;
  margin-left: 0px;
  margin-top: 30px; 
  z-index: 10;
}

#div-advanced-search {
  position: fixed;
  list-style: none;
  margin-left: 0px;
  margin-top: 75px;
  z-index: 9;
  width: 18%;
}

#go-chat.disabled,#go-load-groups.disabled,#send-msg.disabled,#btn-gbl-search.disabled {
  pointer-events: auto;
}

#search-lbl {
  display: none;
  float: right;
  width: 100%;
  justify-content: flex-end;
  margin: 5px 5px;
  border-radius: 10px;
  padding: 0px 30px 10px 30px;
  margin: 0;
}

#search-lbl div {
  display: inline-flex;
}
#search-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#search-key {
  width: 100%;
  padding: 0 10px 0 10px;
}

#current-contacts {
  position: fixed;
  list-style: none;
  text-align: right;
  right: 0px;
  margin-right: 5%;
  margin-top: 30px;
  z-index: 8;
}

#chat-commands {
  margin: 0px 0px 5px 0;
  width: 100px;
  padding:0;
}

#commands-container{
  width: 100%;
  display: table-cell;
}

#send-msg {
  width: 80px;
}

#btn-ewi {
  width: 80px;
}

.opt-ewi-recipients {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.contact-settings-container {
  display: block; 
}

.contact-settings-container .row{
  margin: 0;
}

.contact-settings-container label{
  padding-right: 10px;
}

#employee-contact-wrapper .row {
  padding-top: 10px;
}

#community-contact-wrapper .row {
  padding-top: 10px;
}

.contact-settings-wrapper {
  width: 500px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 10px;
}

#comm-settings-cmd,#emp-settings-cmd {
  padding: 0 15px 0 15px;
}

#emp-settings-cmd button {
  margin-right: 10px;
}

#other-officename,#other-sitename {
  margin-top: 10px;
}

#confirm-ewi-recipients{
  width: 100%;
}

.inbox-tab {
  position: fixed;
  list-style: none;
  margin-left: 0px;
  margin-top: 100px;
  z-index: 0;
  width: 20%;
  height: 68.2%;
  /*height: 75%;*/
}
.search-category {
  margin-bottom: 10px;
}

.list-ewi-recipient {
  padding: 0;
}

.modal {
  width: 100%;
}

.modal-content {
  width: 100%;
}

.modal-dialog {
  width: 46%;
}

#update-contact-content {
  width: 92%;
}

#update-contact-container {
  text-transform: capitalize;
}

#udt-contact-container > *{
  margin: 5px;
}

#search-global-result{
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 10px;
}

#response-contact-container_wrapper {
  overflow-y: scroll;
  max-height: 473px;
}

#timestamp-sent {
  color: blue;
}

.cmd-ewi-chatterbox {
  padding-top: 22px;
}

.cmd-ewi-chatterbox > * {
  margin-right: 10px;
}

.save-reset-container {
  padding-top: 10px;
}

.friend-list-header {
  position: fixed;
}

#input-search-global {
  min-width: 150px;
}

.search-result-container {
  height: 610px; 
  min-height: 400px;  
  overflow-y: scroll;
}

.grp-selection {
  margin: 15px;
}

.friend-list {
  position: fixed;  
  list-style: none;
  margin-left: -45px;
  margin-top: 120px;
  z-index: 0;
  width: 20%;
  height: 70%;
  overflow-y: scroll;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 0px;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name, 
.friend-list li a .friend-name:hover {
  color: #777;
}

.friend-list li a .unknown-number {
  color: #7F0D13;
}

.friend-list li a .last-message {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 0px;
  right: 8px;
}

small, .small {
  font-size: 85%;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}

.chat-message {
  padding: 110px 20px 130px;
}

.chat {
  list-style: none;
  margin: 0;
}

.chat-message{
  background: #f9f9f9;  
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

#btn-standard-search{
  text-align: center;
  justify-content: center;
  line-height: 35px;
  font-size: 20px;
  margin-left: 10px;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 20%;
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}
