.nav-margin  {
	margin-top: 5%;
}

.staff-profile {
	text-align: center;
    padding: 25px 15px 20px;
}

.staff-profile img{
	max-width: 150px;
	max-height: 150px;
	margin: auto;
	border: 1px solid black;
	/*border-r*/
}