#bg-img-chatterbox {
	max-width: 100%;
	max-height: 100%;  
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: .2;
}

.content {
	width: 100%;
	height: 100%;
}

.page-wrapper {
    width: 100%;
    padding: 0;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.input-group-btn:last-child > .form-control {
  margin-left: -1px;
  width: auto;
}

.page-header {
	padding: 9px 0px 15px 15px;
	margin: 0px;
	margin-bottom: 15px;
}

.panel,.panel-heading {
	opacity: 0.9;
	border-radius: 0em;
}


#slide_right {
	display: none;
}

#tracker-filter-panel{
	width: 100%;
}

#reliability-panel {
	width: 100%;
}

#period-selection, #confirm-btn {
	margin: 10px 0px 10px 0px;
}
#confirm-filter-btn {
	float: right;
	width: 100%;
}	

#div-data-resolution label,#data-resolution {
    margin-right: 25px;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

#div-data-validator {
    margin-bottom: 15px;
    margin-left: 15px;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }