#bg-img-chatterbox {
	z-index: -1;
	max-width: 100%;
	max-height: 100%;  
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: .2;
}

.loading-wrapper {
  max-height: 200px;
  max-width: 200px;
}

#chatterbox-loading .modal-dialog {
  max-width: 175px;
}

.loading-wrapper img{
  max-height: 140px;
  max-width: 140px;
}

.nav-margin {
	margin-top: 45px;
}

.division {
	height: 100%;
  margin-top: 5px;
}

#convo-header div{
    text-align: right;
}

#convo-header {
  margin-bottom: 10px;
}

.dropdown-input {
	margin-top: 5px;
}

#timestamp-sent {
  color: blue;
}

textarea {
    resize: none;
}

.right-content {
	text-align: right;
}

#main-container {
  opacity: .9;
}

.tagged {
  border-color: #e2f1dc;
  border-style: solid;
  border-width: 10px;
}

.chat {
  margin-left: 0px;
  margin-right: 15px;
  padding-left: 0px;
}

.chat-message {
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.chat-message ul {
  list-style-type: none;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 4px solid #bfbfbf;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}



.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -11px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 4px solid #c6c6c6;
  border-left: 4px solid #c6c6c6;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -11px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 4px solid #c6c6c6;
  border-right: 4px solid #c6c6c6;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

.left-content {
	text-align: left;
}

.align-center {
	text-align: center;
}

div.awesomplete {
	width: 100%;
}

.panel,.panel-heading {
	border-radius: 0em;
}

.friend-list-header {
  position: fixed;
}

.panel-body {
  padding-bottom: 0px;
}

.friend-list li img {
	width: 45px;
	height: 45px;
}

.friend-list li {
  border-bottom: 1px solid #eee;
}

.friend-list li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 0px;
}

.friend-list li a {
  position: relative;
  display: block;
  padding: 10px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.friend-list li.active a {
  background-color: #f1f5fc;
}

.friend-list li a .friend-name, 
.friend-list li a .friend-name:hover {
  color: #777;
}

.friend-list li a .unknown-number {
  color: #7F0D13;
}

.friend-list li a .last-message {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.friend-list li a .time {
  position: absolute;
  top: 0px;
  right: 8px;
}

.friend-list li a .chat-alert {
  position: absolute;
  right: 8px;
  top: 27px;
  font-size: 10px;
  padding: 3px 5px;
}

#quick-inbox-display,#quick-inbox-unknown-display,#quick-release-display,#quick-event-inbox-display {
  height: 555px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 0px;
}

#search-global-result {
  height: initial;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  margin-right: 0px;
}

#quick-release-display {
  margin: 0px;
}

#page-wrapper {
  background-color: transparent;
}

.no-padding {
  margin: 0px;
  padding: 0px;
}

.bootstrap-tagsinput {
	width: 100%;
}

p {
	padding: 10px 15px 0px 15px;
}

#send-char-remain {
  display: block;
}

textarea {
  font-style: italic;
}

#modal-select-recipients {
    padding-left: 15px;
}

@media screen and (max-width: 480px) {
    #send-char-remain {
        display: -webkit-inline-box;
    }
}