/*#backbone_table,#template_table {
	width: 100%;
}

.dataTables_scrollHead,.dataTables_scrollHeadInner,.dataTable {
	width: 100%;
}*/

.ui-autocomplete {
    position:absolute;
    cursor:default;
    z-index:1001 !important
}