#bg-img-chatterbox {
	z-index: -1;
	max-width: 100%;
	max-height: 100%;  
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: .7;
}

.nav-margin {
	margin-top: 100px;
}

.division {
	height: 100%;
}

#convo-header div{
    text-align: right;
}