
/****
 *
 *	Created by Kevin Dhale dela Cruz
 *	CSS file for Individual Monitoring Event Page [public_alert/monitoring_events_individual.php]
 *	[host]/public_alert/monitoring_events/[release_id]
 *	
****/

#page-wrapper {
    margin-top: 20px;
    padding: 30px 10px 50px;
    min-height: 100%;
    position: relative;
}

#map {
    height: 1000px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}

.highcharts-title {
    color: #17526D !important;
    fill: #17526D !important;
    font-weight: bold !important;
    font-size: 24px !important;
    font-family: 'Helvetica', sans-serif !important;
}

.highcharts-null-point {
    stroke: rgb(150, 150, 150);
}