
/****
 *
 *	Created by Kevin Dhale dela Cruz
 *	CSS file for Accomplishment Report Filing Form [reports/accomplishment_report.php]
 *	[host]/reports/accomplishment/form
 *	
****/

.nav-tabs>li>a {
    background-color: #eee !important;
    color: #333;
}

.nav-tabs>li.active>a{
    background-color: #fff !important;
}

.inner-hr {
    margin-top: 10px;
    margin-bottom: 25px;
}

#narrativeTable {
    font-size: 14px;
}

.well {
    font-size: 12px;
    font-weight: bold;
}

label.error {
    font-size: 12px;
    font-style: italic;
    margin: 10px 0 0 10px;
}

#add { margin-top: 18px; }

.glyphicon-edit, .glyphicon-trash { cursor: pointer; }

.save { top: 25px; }