
/****
 *
 *  Created by Kevin Dhale dela Cruz
 *  CSS file for Site Maintenance Individual Report [reports/sitemaintenance_report_individual.php]
 *  [host]/reports/site_maintenance/[id]
 *  
****/

<style type="text/css">
	
	hr {
		margin-top: 0;
	}

	#map-canvas {

		max-height: 500px;
		width: auto;
	}

	.list-group-item {
		font-size: 14px;
		text-indent: 0.3em;
	}

	.panel-body {
		font-size: 14px;
		text-align: center;
	}

	p {
		font-size: 14px;
		text-indent: 1em;
		margin-bottom: 1.2em;
	}

	.table > tbody > tr > td {
		vertical-align: middle;
	}

</style>